img {
    width: 50;
    height: 50;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display:block;
    border:5px solid black;
}
body {
    background-color: cornsilk;
}
header{
    background-color: darkcyan;
    height: 50px;
}
footer {
    background-color: darkcyan;
    height: 75px;
    
}
h2{
    text-decoration: underline;
}